{% extends '_layout.html' %}

{% block head_title %}
    Minhas Enquetes
{% endblock head_title %}

{% block content %}
    <h1>Enquetes</h1>
    <a href="{% url "poll_create" %}" class="btn btn-lg btn-primary fornt-weight-bold mb-5">
        + Pergunta
    </a>
    {% for question in all_questions %}
        <article>
            <p>{{ question.pub_date|date:'d/m/Y' }} | {{ question.question_text }}
               | <a href="{% url "question_detail" pk=question.id%}" class="link-secundary">Ver</a>
               | <a href="{% url "question_update" question_id=question.id%}" class="link-secundary">Editar</a>
               | <a href="{% url "question_remove" question_id=question.id%}" class="link-secundary">Excluir</a>
            </p>
        </article>
    {% endfor %}
{% endblock content %}



