{% extends '_layout.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Pergunta</h5>
        </div>
        <div class="card-body">
            <p>
                {{ question.question_text }}
                <a href="{% url 'question_edit'  pk=question.id%}" class="link-secundary">
                    Editar
                </a> &npsb;
                <a href="{% url 'question_delete' pk=question.id %}" class="link-secundary">Excluir</a>
            </p>
            <p>Data paginação: {{ question.pub_date }}</p>
        </div>
    </div>
{% endblock content %}

