{% extends '_layout.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Pergunta</h5>
        </div>
        <div class="card-body">
            <p>
                {{ question.question_text }}
                <a href="{% url 'question_update' question_id=question.id%}" class="link-secundary">Editar</a> &nbsp;
                <a href="{% url 'question_remove' question_id=question.id%}" class="link-secundary">Excluir</a>
            </p>
            <p>Data publicação: {{ question.pub_date }}</p>
            {% if total_votes %}
                <h6 class"fw-bold">Total de votos: {{total_votes}}</h6>
            {% endif %}
            <form action="{% url 'poll_vote' question.id=question.id%}">{% csrf_token %}
                <fieldset>
                    <legend>
                        <h1>{{question question_text}}</h1>
                        {% for choice in question.choice set.all %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}"
                            class="form-check-input" value="{{ choice.id }}">
                        <label class="form-check-label" for="choice{{forloop.counter}}"></label><br>
                        {% empty %}
                            <h5>Não há alternativa cadastradas</h5>
                        {% endfor %}
                    </legend>
                </fieldset>
                {% if question.choice set.all %}
                <input type="submit" class="btn btn-primary btn-lg" value="votar">
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}

